body{
   margin: 0px;
    background-color: #161616;
    color: white;
}
p{
    color: rgb(162, 160, 160)
}
#des-1{
    position: absolute;
    width: 500px;
    
}
#navbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    background: #1C1C1C;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    
}
.icon{
    display: flex;
    padding-left: 20px;
}
#bankname{
    color: white;
    font-size: 20px;
}
.hamburger{
  display: none;
}
#open-menu{
  display: flex;
  gap: 90px;
}
#menuid{
    display: flex;
    
}
.menu-list{
  color: white;
  text-decoration: none;
}
.ul{
    color: white;
    text-decoration: none;
}
.signup-login{
    display: flex;
    padding-right: 25px;
    gap: 15px;
}

/* body */
.body{
    margin: 20px;
    display: flex;
}
.home-left{
    padding-left: 40px;
    padding-top: 20px;
    width: 50%;
}
.llc{
    display: flex;
    background-color: #1C1C1C;
    width: 260px;
    padding-left: 10px;
    border-radius: 30px;
    font-size: 15px;
    gap: 5px;
}
#getstarted{
    color: black;
    text-decoration: none;
    background-color: #CAFF33;
    padding: 10px;
    border-radius: 20px;
}

#absimg{
    width: 140px;
    padding-bottom: 450px;
}
.products{
    margin-left: 50px;
}
.prod-1{
    display: flex;
    gap: 50px;
}
.ind-bus_button{
    display: flex;
    gap: 30px;
   background-color: #1C1C1C;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 30px;
}
#ind{
    background-color: #CAFF33;
    color: black;
    padding-left: 10px;
   padding-right: 10px;
   border-radius: 30px;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-top: 10px;
   margin-bottom: 10px;
}
.prod-2{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-right: 50px;
    text-align: center;
}
.use-head{
    margin-left: 50px;
}
.use{
    display: flex;
    gap: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.use-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.val{
    display: flex;
    gap: 30px;
    text-align: center;
}
.learn-more{
    background-color: #1C1C1C;
    color: white;
    padding: 8px;
    border-radius: 20px;
}
.features{
    margin-left: 50px;
}
.feature-cont{
    display: flex;
    align-items: center;
}
.feature-list{
    background-color: #1C1C1C;
    margin-top: 20px;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
    
}
.list-item{
    background-color:#161616;
    padding: 10px;
    border-radius: 20px;
    border-style: solid;
    border-width: 0.1px;
    border-color: rgb(77, 77, 77);
}
.container{
    margin: 20px ;
    display:grid;
    width: 200px;
    grid-template-columns: 200px 200px;
    /* grid-row: auto auto; */
    grid-column-gap: 60px;
    grid-row-gap: 20px;
    
} 
.box{
    background-color:#1C1C1C;
    padding:20px;
    border-radius:10px;
    align-items:center;
    justify-content:center;
    width: 400px;
    height: 180px;
  
  }
.grid-head{
    display: flex;
    justify-content: space-between;
} 
.faq{
    margin-left: 50px;
}
.faq-grid{
    margin: 20px auto;
    display:grid;
    grid-template-columns: 400px 400px;
    grid-row: auto auto;
    grid-column-gap: 110px;
    grid-row-gap: 20px;
    
} 
.faq-box{
    border-style: solid;
    border-width: 0.1px;
    border-color: #414040;
    padding:20px;
    border-radius:10px;
    height: 240px;
    width: 450px;
  
  }
  hr{
    border: none;
    height: 1px;
    background-color: #333;  
  }
  .test-head{
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
  }
  .test-head-b{
    width: 60%;
  }
  .test-button{
    text-align: center;
    margin-top: 17px;
  }
  #ind-2{
    background-color: #CAFF33;
    color: black;
    padding-left: 10px;
   padding-right: 10px;
   border-radius: 30px;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-top: 10px;
   margin-bottom: 10px;
  }
  .testimonial-body{
    display: flex;
    margin-left: 80px;
    margin-right: 100px;
    gap: 20px;
    justify-content: space-between;
    text-align: center;
  }
  .testimonial-list{
    width: 300px;
  }
  .start{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
  }
  .start-text{
    background-image: url(./images/abs-2.svg);
    background-repeat: no-repeat;
    background-color: #1C1C1C;
    padding-top: 20px;
    padding-left: 50px;
    margin-right: 50px;
    border-style: solid;
    border-width: 0.1px;
    border-color: #414040;
    border-radius: 20px;
    padding-bottom: 20px;
  }
  #open-account{
    background-color: #CAFF33;
    color: black;
    border-radius: 30px;
    padding: 10px;
  }
  /* footer */
  
  .footer{
    margin-right: 50px;
    background-color: #1C1C1C;
  }
  #icon{
    justify-content: center;
  }
  #menu{
    justify-content: center;
    display: flex;
  }
  
  .detail{
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  .detail-list{
    display: flex;
    gap: 3px;
  }
  .socials{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    padding-right: 17px;
    background-color: #161616;
   
    border-radius: 30px;

  }

  /* responsiveness */

  @media only screen and (max-width: 867px) {
    #des-1{
      width: 300px;
  }
  #absimg{
   display: none;
}
    .hamburger{
      display: block;
      width: 20px;
      height: 20px;
      padding-right: 10px;
      padding-top: 23px; 
      
    }
    .headham{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 3px;
    }
    .open-menu{
      display: none;
    }
    .body{
      flex-direction: column;
    }
    .prod-1{
      flex-direction: column;
    }
    .prod-2{
      flex-direction: column;
    }
    .use{
      flex-direction: column;
    }
    .learn-more{
      padding: 8px;
      width: 110px;
      height: 50px;
    }
    .val{
      flex-direction: column;
    }
    .feature-cont{
      flex-direction: column;
    }
    .feature-list{
      display: flex;
      flex-direction: row;
      gap: 10px;
      font-size: 10px;
    }
    .container{
    display:grid;
    grid-template-columns: 400px ;
    grid-row-gap: 40px;
    }
    .box{
      width: 200px;
      height: 200px;
    }
    .faq-grid{
    display:grid;
    grid-template-columns: 400px ;
    margin-left:60px ;
    grid-row-gap: 40px;
    align-items: center;
    justify-content: center;
    }
    .faq-box{
      width: 300px;
      height: 260px;
    }
    .test-head{
      flex-direction: column;
    }
    .test-head-b{
      width: 100%;
    }
    .testimonial-body{
      display: none;
    }
    .start{
      flex-direction: column;
    }
    .start-text{
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      width: 220px;
      justify-content: center;
      align-items: center;
    
    }
    #menu{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .menu-list{
      font-size: 15px;
    }
    .detail{
      flex-direction: column;
      padding-left: 20px;
      align-items: center;
    }
    .socials{
      flex-direction: column;
      text-align: center;
    }
    #social{
      display: flex;
      width: 100px;
      align-items: center;
    }
  }