body{
    margin: 0px;
     background-color: #161616;
     color: white;
 }
 p{
     color: rgb(162, 160, 160)
 }
 #des-1{
     position: absolute;
     
 }
 #navbar{
     position: relative;
     display: flex;
     justify-content: space-between;
     background: #1C1C1C;
     border-radius: 30px;
     margin-top: 10px;
     margin-left: 50px;
     margin-right: 50px;
     
 }
 .icon{
     display: flex;
     padding-left: 20px;
 }
 #bankname{
     color: white;
     font-size: 20px;
 }
 .hamburger{
  display: none;
}
#open-menu{
  display: flex;
  gap: 90px;
}
#menuid{
     display: flex;
     
 }
 .menu-list{
    color: white;
    text-decoration: none;
  }
 .signup-login{
    display: flex;
    padding-right: 25px;
    gap: 15px;
    padding-top: 5px;
}
#login{
   background-color: #CAFF33;
   color: black;
   text-decoration: none;
   width: 30px;
   border-radius: 15px;
   padding: 8px;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body{
    background-image: url(./images/radial.svg);
    background-repeat: no-repeat;
    background-position: right top; 
    margin: 30px;
    display: flex;
    width: 1000px;
    padding: 20px;
    background-color: #1C1C1C;
    border-radius: 25px;
}
.intro{
    position: absolute;
    width: 500px;
    background-color: #161616;
    padding: 40px;
    border-radius: 20px;
    border-bottom-right-radius: 60px;
    padding-left: 50px;
}
#sec-img{
    width: 600px;
    /* position: relative ; */
    text-align: center;
    padding-left: 400px; 
}
.protection{
    margin: 50px;
}
.grid{
    background-image: url(./images/Background\ Image-gradient.svg);
    padding: 30px;
    display: flex;
    border-radius: 20px;
    height: 400px;
    width: 950px;
    
  }
.container{
    margin: 20px auto;
    display:grid;
    grid-template-columns: 400px 400px;
    grid-row: auto auto;
    grid-column-gap: 60px;
    grid-row-gap: 20px;
    
} 
.box{
    background-color:#1C1C1C;
    padding:20px;
    border-radius:10px;
    align-items:center;
    justify-content:center;
    width: 400px;
    height: 200px;
    border-style: solid;
    border-width: 0.1px;
    border-color: rgb(77, 77, 77);
  
  }
.grid-head{
    display: flex;
    gap: 20px;
} 
.icon-security{
    width: 50px;
}
.faq{
    margin-left: 50px;
}
.faq-grid{
    margin: 20px auto;
    display:grid;
    grid-template-columns: 400px 400px;
    grid-row: auto auto;
    grid-column-gap: 110px;
    grid-row-gap: 20px;
    
} 
.faq-box{
    border-style: solid;
    border-width: 0.1px;
    border-color: #414040;
    padding:20px;
    border-radius:10px;
    height: 240px;
    width: 450px;
  
  }
  .faq-content{
    display: none;
  }
  .faq-more{
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  hr{
    border: none;
    height: 1px;
    background-color: #333;  
  }
  .footer{
    margin-right: 50px;
    background-color: #1C1C1C;
  }
  #icon{
    justify-content: center;
  }
  #menu{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .detail{
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  .detail-list{
    display: flex;
    gap: 3px;
  }
  .socials{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    padding-right: 17px;
    background-color: #161616;
   
    border-radius: 30px;

  }

  @media only screen and (max-width: 867px) {
    .hamburger{
      display: block;
      width: 20px;
      height: 20px;
      padding-right: 10px;
      padding-top: 23px; 
      
    }
    .headham{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 3px;
    }
    .open-menu{
      display: none;
    }
  
  .body{
    flex-direction: column;
    width: 270px;
  }
  .intro{
    position: relative;
    width: 180px;
    border-radius: 0px;
  }
  #sec-img{
    width: 250px;
    padding-left: 10px;
  }
  .grid{
    background-image: none;
    padding: 0px;
    display: flex;
    border-radius: 20px;
    height: fit-content;
    width: 300px;
    
  }
  .container{
    grid-template-columns: 200px ;
    grid-row-gap: 40px;
    width: 100px;
    margin-left: 0px;
    }
  .box{
    background-image: url(./images/Background\ Image-gradient.svg);
    width: 200px;
    height: 300px;
  }
  .faq-grid{
    display:grid;
    grid-template-columns: 400px ;
    grid-row-gap: 40px;
  }
  .faq-box{
    width: 200px;
    height: 200px;
  }
  #menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu-list{
    font-size: 15px;
  }
  .detail{
    flex-direction: column;
    padding-left: 20px;
    align-items: center;
  }
  .socials{
    flex-direction: column;
    text-align: center;
  }
  #social{
    display: flex;
    width: 100px;
    align-items: center;
  }
}