body{
   margin: 0px;
    background-color: #161616;
    color: white;
}
p{
    color: rgb(186, 183, 183)
}
#des-1{
    position: absolute;
    
}
.navbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    background: #1C1C1C;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    
}
.icon{
    display: flex;
    padding-left: 20px;
}
#bankname{
    color: white;
    font-size: 20px;
}
.menu{
    display: flex;
    
}
.ul{
    color: white;
    text-decoration: none;
}
.signup-login{
    display: flex;
    padding-right: 25px;
    gap: 15px;
}

/* body */
.body{
    margin: 20px;
    display: flex;
}
.home-left{
    padding-left: 40px;
    padding-top: 20px;
    width: 50%;
}
.llc{
    display: flex;
    background-color: #1C1C1C;
    width: 260px;
    padding-left: 10px;
    border-radius: 30px;
    font-size: 15px;
    gap: 5px;
}
#getstarted{
    color: black;
    text-decoration: none;
    background-color: #CAFF33;
    padding: 10px;
    border-radius: 20px;
}

#absimg{
    width: 140px;
    padding-bottom: 450px;
}
.products{
    margin-left: 50px;
}
.prod-1{
    display: flex;
    gap: 50px;
}
.ind-bus_button{
    display: flex;
    gap: 30px;
   background-color: #1C1C1C;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 30px;
}
#ind{
    background-color: #CAFF33;
    color: black;
    padding-left: 10px;
   padding-right: 10px;
   border-radius: 30px;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-top: 10px;
   margin-bottom: 10px;
}
.prod-2{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-right: 50px;
    text-align: center;
}